* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: #f8fafc;
  overflow-x: hidden;
}

.recharts-wrapper {
  outline: none;
}
