DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_USER=financeiro_user
DATABASE_PASSWORD=financeiro_pass
DATABASE_NAME=financeiro
JWT_SECRET=change-me
JWT_REFRESH_SECRET=change-me-refresh
FRONTEND_URL=http://localhost:5173
PORT=3000
